<div class="right">


        <div class="work" >
                <div class="pic"  style="height:320px; padding:60px 15px 0 10px">
                    <div class="myEffect_img"></div>
                        <!-- <img src="/Users/zuoyingchang/Desktop/AngularResume2/src/app/assets/bmo.jpg" height="200" width="200"><br> -->
                        <div class="UW_img"></div>
                </div>
            <div class="work_text"><span class="work_title">BIG DATA ANALYTICS ARCHITECT/DEVELOPER  </span>       	<div style="float:right"> MyEffect/University of Waterloo | May-Aug 2018</div><br>	       
            •	Designed, implemented new front-end and back-end features and workflows of the web service using AngularJS, Node.js, Sequelize.js and MySQL database in MVC pattern<br>	 
            •	Explored self-adaptive algorithms for the Self-Adaptive Platform for Social Impact (SAP-SI) project<br>	 
            •	Designed a new database using ER-model for a better structure and efficiency for MyEffect web platform<br>	 
            •	Migrated data using ETL (Extract, transform and load) process to the new database designed and created <br>	 
            •	Created SQL queries to generate the same outputs for the new database as those from the old one. <br>	 
            •   Compared, analyzed and reported the execution time of such queries to show the advantage in efficiency of the new database<br>	 
            
                
        </div>
            </div>
 
    <div class="work">
        <div class="pic" style="height:240px; padding:10px 15px 0 10px;">
                <div class="bmo_img"></div>
                <!-- <img src="/Users/zuoyingchang/Desktop/AngularResume2/src/app/assets/bmo.jpg" height="200" width="200"><br> -->

        </div>
    <div class="work_text"><span class="work_title">APPLICATION SOFTWARE DEVELOPER	</span><div style="float:right"> Bank of Montreal | Sept-Dec 2017</div><br>	       
        •	Designed and created an employee information page using HTML, Bootstrap, Angular2 and knockout.js. Implemented back-end features using node.js and MySQL database<br>
        •	Constructed workflow for products’ business process using SharePoint Designer<br>
        •	Worked with experienced developers to create classification plug-ins. The functionality of such plug-ins including automatic verification of users’ identity, alert and default settings<br>
        
</div>
    </div>

    <div class="work">
            <div class="pic" style="height:200px; padding:40px 15px 0 10px;">
                    <div class="brookfield_img"></div>
                    <!-- <img src="/Users/zuoyingchang/Desktop/AngularResume2/src/app/assets/bmo.jpg" height="200" width="200"><br> -->
    
            </div>
        <div class="work_text"> <span class="work_title">DATA ANALYST	</span>	<div style="float:right"> Brookfield Renewable Energy | Jan-Apr 2017</div><br>	       
            •	Built scripts using PL/SQL to custom database tables in a more efficient way based on requirements<br>
            •	Enhanced python scripts as a log parser tool to load access table frequencies in a spreadsheet<br>
            •	Visualized table access frequencies using python libraries NumPy and matplotlib<br>
            •	Explored machine learning algorithms and data models to create a linear regression model based on data from spreadsheet by log parser tool<br>
            <br>
            
    </div>
        </div>